$secondary : #101419;
$lighter_secondary : rgba(29, 34, 41, 1);
$white_color : rgba(255, 255, 255, 1);
$primary : rgba(50, 119, 148, 1);
$purple_background : #1d1e2c;
$default : #464660;
$purple_light:#2a2b3f;
$danger : #5d0019